<ul class='nav nav-pills nav-stacked'>
  <% if !@list.users.include?(current_user) %>
      <%= link_to  "Join List", list_members_url(@list, :id => current_user), :method => :post , :class => 'btn btn-primary btn-large', :style=>'width:90%;' %>
  <% else %>
     <%= link_to  "Quit List #{action_status(@list)}", list_member_url(@list, current_user), :method => :delete, :class => 'btn btn-primary btn-large', :style=> 'width:90%;' %>
  <% end %>
</ul>
