<%= form_for(@list,:html=>{:class=>"form-horizontal"}) do |f| %>
  <fieldset>
    <legend><%= @list.new_record? ? "New List" : "Edit List" %></legend>

    <div class="control-group <%= has_error?(@list, :title) %>">
       <label class="control-label">Title*<label/>
        <div class="controls">          
          <%= f.text_field :title,:class=>'span5' %>           
          <%= render :partial => 'shared/inline_error_message', :locals => {:object => @list, :attribute => :title }%>
        </div>  
      </div>

      <div class="control-group <%= has_error?(@list, :description) %>">
        <%= f.label :description,:class=>"control-label" %> 
        <div class="controls">
          <%= f.text_area :description ,:rows=>5,:class=>'span5'%>
          <%= render :partial => 'shared/inline_error_message', :locals => {:object => @list, :attribute => :title }%>
        </div>  
      </div>
      
      <div class="control-group <%= has_error?(@list, :tag) %>">
        <%= f.fields_for :tag do |tag_form| %>
        <%= tag_form.label "Tag",:class=>"control-label" %> 
        <div class="controls">
          <%= tag_form.text_area :keywords ,:rows=>5,:class=>'span5'%>
        </div> 
        <% end%> 
      </div>
      
      <div class="control-group">
        <%= f.label :moderated, :class=>"control-label" %> 
        <div class="controls">
          <%= check_box_tag :moderated %>
        </div>  
      </div>  
      
      
      <div class="form-actions">
        <%= f.submit "Save Changes",:class=>"btn btn-primary"%>
        <%= link_to("Cancel", lists_path,:class=>'btn black-link') %>
      </div>
   </fieldset> 
<% end %>
