<table class="table table-striped">
  <thead>
  </thead>                                            

 <%= render :partial => 'lists/list', :collection => @lists %>

</table>                                               
<div class="user-actions">
  <div class="pull-left">
    <% if current_user.present? %>
    <a class='btn btn-primary btn-medium custom-visted' href="<%= new_list_path %>"> Create A New List </a>
    <% end %>
  </div>
  <div class='pull-right margin-top-m18'>   
    <% if current_user %>
      <% if defined?(@paginatable_lists)%>
          <%= paginate @paginatable_lists.results %>
        <% else %>
          <%= paginate @lists %>
        <% end %>
    <% end %>
  </div>
</div>
