<tbody>
  <tr>
    <td class='span9'>
      <h3><%= link_to "#{list.title} (#{list.list_items.size})", list_urls_url(list) %></h3>
      <p><em><%= truncate(list.description, :length => 200, :omission => '...') %></em></p> 
      <p>
        <%= render :partial => "shared/updated_info", :locals => { :latest_updated_time => list.latest_updated_time } %>
      </p>
    </td>
    <td class='span1'>    
      <p>
      <% if !list.moderated? && list.users.include?(current_user) %>
        <%= link_to 'Edit', edit_list_path(list) %> 
      <% end %>
      </p>
      <p>
      <%= link_to "Members(#{list.users.size}) ", list_members_path(list) %> 
      </p>
      <p id="list_<%= list.id %>" class="sbscr_actions">
      <%= subscribe_actions(list) %>
      </p>
      <p>
      <% if list.creator == current_user %>
        <%= link_to "Destroy", list_path(list), :method => :delete %>
      <% end %>
      </p>         
    </td>
    <td class="span1 <%= dom_id(list) %>">
      <!-- <p id="<%#= dom_id(list)%>">             -->
      <p><%= link_to image_tag('glyphicons_213_up_arrow.png'), up_vote_list_path(list),:class=>'up_vote' ,"data-list_id"=> list.id%> </p>
      <p><span id='vote_value' data-list_id="<%= list.id %>"><%= list.get_total_vote%></span></p>
      <p><%= link_to image_tag('glyphicons_212_down_arrow.png'), down_vote_list_path(list),:class=>'down_vote',"data-list_id"=> list.id %></p>
      <!-- </p>                                             -->
      <span class="vote_error"></span>
      </p>   
    </td>
    <td class='span1'>
      <p>
      <%= sharethis(list) %> 
      </p>      
    </td>
  </tr>
</tbody>
