<ul class='nav nav-pills nav-stacked'>
  <li class='nav-header'>
    <%= "Members" %>
  </li>                           
  <li><%= link_to  "#{@list.creator.name} (Creator)", list_member_path(:list_id => @list.id, :id => @list.creator.id) %> </li>    
  <li><%= link_to "Members(#{@list.users.count - 1})", list_members_url(@list)%>
  <% (@list.users - [@list.creator]).each do |user| %>
    <li><%= link_to  user.name, list_member_path(:list_id => @list, :id => user.id) %> </li>
  <% end%>
</ul>
