<% content_for :page_info do %>
  - All Lists
<% end %>

<%= render :partial => 'shared/stacked_navigation_sidebar'%>

<div class='page-header'>
  <div class='pull-right'>
    <a class='btn btn-primary btn-medium custom-visted' href="<%= new_list_path %>"> Create A New List </a>
   </div>
  <h2> Lists </h2> 
  <%= render :partial => 'shared/list_search' %>
</div>          

<%= render :partial => "lists" %>     

<% content_for :head do  %>
  <script type='text/javascript' src='http://w.sharethis.com/button/buttons.js'>
  <script type='text/javascript'>
      stLight.options({
        publisher:'<%= SHARETHIS_KEY %>',
      });
  </script>
<% end  %>
