<% content_for :page_info do %>
 - <%= (action_name == "index") ? "My Lists" : (action_name == "peek") ? "Member Lists" : "" %>
<% end %>

<%= render :partial => "shared/stacked_navigation_sidebar"%>

<div class='page-header'>
  <div class='pull-right'>
    <a class='btn btn-primary btn-medium custom-visted' href="<%= new_list_path %>"> Create A New List </a>
  </div>       
  <% if defined?(@title)%>
    <h2><%= @title %></h2>
  <% else %>
    <h2> My Lists </h2>   
  <% end %>
  <%= render :partial => 'shared/list_search' %>

</div>               

<%= render :partial => "lists" %>     

<% content_for :head do  %>
  <script type='text/javascript' src='http://w.sharethis.com/button/buttons.js'>
  <script type='text/javascript'>
      stLight.options({
        publisher:'<%= SHARETHIS_KEY %>',
      });
  </script>
<% end  %>
