<%= content_for :sidebar do %>
  <ul class="nav nav-list">
    <li class="nav-header">Sidebar</li>
    <li class="active"> <%= link_to "Url",list_urls_path(@list)%></a></li>
  </ul> 
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @list.title %>
</p>

<p>
  <b>Owner:</b>
  <%= @list.owner_id %>
</p>

<p>
  <b>Description:</b>
  <%= @list.description %>
</p>


<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
