<!-- <div class='page-header'>
  <div class='pull-right'>
 <span> 
  <%#= form_tag search_lists_url, :method => :get, :class => "well form-search" do %>
    <%#= text_field_tag :search_query, nil, :placeholder => "Search Lists", :class => "input-medium search-query" %>
    <%#= submit_tag "Search", :class => "btn"%>
  <%# end %>  
</span>
</div>               
</div>!-->
<table class="table table-striped">
  <thead>
  </thead>
  <% @lists.each do |list| %>
  <tbody>
    <tr>
      <td class='span9'>
        <h3><%= link_to "#{list.title} (#{list.list_items.size})", list_urls_url(list) %></h3>
        <p><em><%= truncate(list.description, :length => 200, :omission => '...') %></em></p>       
      </td>
      <td class='span2'>    
        <p>
          <%= link_to "Members(#{list.users.size}) ", list_members_path(list) %> 
        </p>
        <p>
          <%= link_to "Destroy", admin_destroy_list_path(list,:user_id=>@user.id), :method => :delete,:confirm => 'Are you sure?', :class => '' %>
        </p>         
      </td>
   </tr>
</tbody>
<% end %>
</table>                                               


<div class="user-actions">

  <div class='pull-right margin-top-m18'>   

    
    <%= paginate @lists %>
    
  
  </div>
</div>
