<%= form_for([@list,@url],:html=>{:class=>"form-horizontal new_url"}) do |f| %>

<fieldset>   
  <legend><%= @url.new_record? ? "New Url" : "Edit Url" %></legend>
  <%= f.hidden_field :image_url %>

  <div class="control-group <%= has_error?(@url, :url) %>">
    <%= f.label "url*",:class=>"control-label" %> 
    <div class="controls">
      <%= f.text_field :url ,:rows=>5,:class=>'span5'%> &nbsp; <%= image_tag('ajax-loader.gif', :class => 'loader hidden')%>
      <%= render :partial => 'shared/inline_error_message', :locals => {:object => @url, :attribute => :url }%>
    </div>  
  </div>
  <div class="control-group <%= has_error?(@url, :title) %>">
    <%= f.label "title*" ,:class=>"control-label"%>
    <div class="controls">
      <%= f.text_field :title,:class=>'span5' %>
      <%= render :partial => 'shared/inline_error_message', :locals => {:object => @url, :attribute => :title }%>
    </div>  
  </div>

  <div class="control-group <%= has_error?(@url, :description) %>">
    <%= f.label :description,:class=>"control-label" %> 
    <div class="controls">
      <%= f.text_area :description ,:rows=>5,:class=>'span5'%>
      <%= render :partial => 'shared/inline_error_message', :locals => {:object => @url, :attribute => :description }%>
    </div>  
  </div>
  <div class="control-group">
    <%= f.fields_for :tag do |tag_form| %>
    <%= tag_form.label "Tag",:class=>"control-label" %> 
    <div class="controls">
      <%= tag_form.text_area :keywords ,:rows=>5,:class=>'span5'%>
      <%= render :partial => 'shared/inline_error_message', :locals => {:object => @url, :attribute => :keywords }%>
    </div>  
  </div>                          
  <% end %>

  <div class="form-actions">
    <%= f.submit "Save Changes",:class=>"btn btn-primary"%>
    <%=link_to("Cancel", list_urls_path(@list),:class=>'btn black-link') %>
  </div>
</fieldset> 

<% end %>
