<ul class='nav nav-pills nav-stacked'>   
  <li class='nav-header'> Views </li>
  <li class='<%= is_active?(:lists, :index) %>'>
    <%= link_to "My Lists", lists_url %>
  </li>   
  <li class='<%= is_active?(:lists, :all) %>'>
    <%= link_to "All Lists", all_lists_url %>
  </li>
</ul>
