<% content_for :page_info do %>
 - List Details
<% end %>

<% content_for :sidebar do%>
<%= render :partial => "lists/action_items" %>
<%= render :partial => 'lists/members' %>
<%= render :partial => 'urls/stacked_navigation' %>
<% end %>

<div class='page-header'>
  <div class='pull-right'> 
    <% if current_user.present? && @list.members.include?(current_user) %>
      <a href="<%= new_list_url_path %>" class='btn btn-primary btn-medium'>New URL </a>
    <% end %>
  </div>
  <h2> <%= @list.title %> </h2>   
  <%= render :partial => 'shared/url_search' %>
</div>

<table class="table table-striped">
  <thead>
  </thead>
  <% @urls.each do |url| %>
  <tbody>
    <tr>
      <td>  
        <%= preview_image_for(url) %>
      </td>
      <td>
        <h3>
          <%=link_to url.title, url.url, :target => '_blank', :rel => 'no-follow' %>
        </h3>
        <p>   
          <%= link_to url.url, url.url %>
        </p>
        <p>   
          <em><%= url.description %></em>
        </p>
        <p>
          <% if url.creator.present? %>
            <%= link_to "#{url.creator.name}", list_member_url(url.list, url.creator.id)%> 
          <% end %>
          | 
          <%= render :partial => "shared/updated_info", :locals => { :latest_updated_time => url.updated_at } %>          
        </p>
        <p>
          <% if current_user == url.creator %>
            <%= link_to 'Edit', edit_list_url_path(@list,url) %> |
            <%= link_to 'Destroy', list_url_path(@list,url), confirm: 'Are you sure?', method: :delete %>                     
          <% end %>
        </p>  
      </td>
      <td>
        <%= link_to image_tag('glyphicons_309_comments.png'),list_url_path(@list,url) %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>

<div class="user-actions">
  <div class="pull-left">
    <% if current_user.present? && @list.is_authorized?(current_user) %>
      <a href="<%= new_list_url_path %>" class='btn btn-primary btn-medium'>New URL </a>
    <% end %>
  </div>
  <div class='pull-right margin-top-m18'>   
    <% if defined?(@paginatable_urlss)%>
      <%= paginate @paginatable_urlss.results %>
    <% else %>
      <%= paginate @urls %>
    <% end %>
  </div>
</div>


<br />


