
<%= render :partial => "shared/stacked_navigation_sidebar"%>
<table class="table table-striped">
  <thead>
  </thead>
 <tbody>
    <tr>
      <td>  
        <%= preview_image_for(@url) %>
      </td>
      <td>
        <h3>
          <%=link_to @url.title, @url.url, :target => '_blank', :rel => 'no-follow' %>
        </h3>
        <p>   
          <%= link_to @url.url, @url.url %>
        </p>
        <p>   
          <em><%= @url.description %></em>
        </p>
        <p>
          <% if @url.creator.present? %>
            <%= link_to "#{@url.creator.name}", list_member_url(@url.list, @url.creator.id)%> 
          <% end %>
          | 
          <%= render :partial => "shared/updated_info", :locals => { :latest_updated_time => @url.updated_at } %>          
        </p>
        <p>
          <% if current_user == @url.creator %>
            <%= link_to 'Edit', edit_list_url_path(@list,@url) %> |
            <%= link_to 'Destroy', list_url_path(@list,@url), confirm: 'Are you sure?', method: :delete %>                     
          <% end %>
        </p>  
      </td>
     
    </tr>
  </tbody>
</table>
 <%= form_tag(add_comment_list_url_path(@list,@url),:class=>"well") do%>
  <label>Comment</label>
  <p>
  <%= text_area_tag "body","",:class=>"span6",:rows=>5,:placehoder=>"Comment goes here ....." %>
  </p>
  <%= submit_tag "Add Comment",:class=>"btn" %>
 <% end %>
<table class="table table-striped">
<thead>
</thead>
<tbody>
  <% @comments.each do |comment| %>
    <tr>
      <td>
      <p>
        <em><%= comment.body %></em>
        <p>
         <%= link_to "#{comment.name}", list_member_url(@url.list, comment.user.id)%> |
        <span class='updated-info'>
          Created at <span class='bold-text'><%= time_ago_in_words(comment.created_at, true) %></span> ago
        </span>
      </p>  
      </td>
    </tr>
  <% end%>
  
</tbody>
</table>

