<h3> There are new urls added on list '<%= @list.title %>' </h3>

<% @list_urls.each do |url| %>
  <p>
    Title: <%= url.title %> <br/>
    URL: <%= url.url %> <br/>
    Description: <%= url.description %><br/>
  </p>
  <hr/>
<% end %>
