<!DOCTYPE html>
<html>
  <head>    
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title> Membership Request | ListitApp </title>
   </head>
   <body>
     <p>Hi <%= @moderator.name %>, </p>
     
     <p> <%= @new_membership_requester.name %> wishes to join your list titled <%= link_to @list.title, list_urls_url(@list) %>. To act upon this request please click the following link. <%= link_to "Manage Membership Requests", '#' %>
     </p>
     
     <p> Thanks <br/>
       ListItApp Team.
     </p>       
   </body>    
</html>