<%#= render "shared/error_messages", :target => @user %>
<% if flash[:error].present? %>
	<div class='alert alert-error'>
		<% flash[:error].each do|error| %>
		  <li><%= error %></li>
		<% end %>
	</div>
<% end %>

<p>
  <label class="control-label">Name</label>
<div class="controls">
  <%= form.text_field :name, :class => 'span3'%>
</div>
</p>
<p>
  <label class="control-label">Email</label>
<div class="controls">
  <%= form.text_field :email, :class => 'span3'%>
</div>
</p>
<p>
  <label class="control-label"><%= form.object.new_record? ? "Password" : "Change password"  %></label>
<div class="controls">
  <%= form.password_field :password, :class => 'span3' %>
</div>
</p>
<p>
  <label class="control-label">Password confirmation</label>
<div class="controls">
  <%= form.password_field :password_confirmation, :class => 'span3' %>
</div>
</p>
