<div class='row'>
  <div class="span1 thumbnail">
    <% user_img = user.avatar.url.include?("missing.png") ? "/assets/default_user.png" : user.avatar.url(:thumb) %>
    <%=h image_tag user_img %>
  </div>

    <div class="span4">
      <div class='control-group'>        
        <b>Name:</b>
        <%=h user.name %>
      </div>

      <div class='control-group'>
        <b>Description:</b>
        <%=h user.description %>
      </div>

      <% if user.twitter_id.present? %>
        <div class='control-group'>
          <b> Twitter Screen Name </b>
          <%= h user.twitter_screenname %>
        </div>
      <% end %>

      <div class='control-group'>
        <b>Last login at:</b>
        <%= h user.last_login_at %>
      </div>

      <% if user == current_user %>
        <div class='form-actions'>
          <%= link_to 'Edit', profile_path, :class => 'btn btn-primary' %>
          <% unless user.twitter_id.present? %>
            <%= link_to "Link Your Twitter Account", "/auth/twitter", :class => "btn btn-primary" %>
          <% else %>
            <%= link_to "Update Your Twitter Account", "/auth/twitter", :class => "btn btn-primary" %>
          <% end %>
        </p>
      <% end %>  
  </div>
</div>
