<% content_for :sidebar do%>
  <%= render :partial => 'urls/stacked_navigation' %>
<% end %>

<%= form_for(@user,:html=>{:class=>"form-horizontal"}) do |f| %>
  <fieldset>
    <legend>Edit Profile</legend>


		<div class="control-group <%= has_error?(@user, :description) %>">
		  <%= f.label :description,:class=>"control-label" %> 
		  <div class="controls">
		    <%= f.text_area :description ,:rows=>5,:class=>'span5'%>
		    <%= render :partial => 'shared/inline_error_message', :locals => {:object => @user, :attribute => :description }%>
		  </div>  
		</div>

    <div class="control-group <%= has_attachment_error?(@user, "avatar") %>">
			<label class="control-label">Image*<label/>
			<div class="controls">          
			  <%= f.file_field :avatar,:class=>'span5' %>
			  <%= render :partial => 'shared/attachment_inline_error_message', :locals => {:object => @user, :attribute => :avatar }%>
			</div>
    </div>

      <div class="form-actions">
        <%= f.submit "Save Changes",:class=>"btn btn-primary"%>
        <%= link_to("Cancel", user_path(@user),:class=>'btn black-link') %>
      </div>
   </fieldset>
<% end %>
