<div class='well div-center width500'>
  <div>
  <h3>Sign up</h3>
  <%= form_for @user do |f| %>
    <%= render :partial => "form", :object => f, :locals => { :user => @user } %>
    <%= f.submit "Sign up", :class=> "btn btn-primary"  %>
  <% end %>
  </div>
</div>
