<h1>Reset your password.</h1>

<%= render "shared/error_messages", :target => @user %>

<%= form_for @user, :url => reset_password_url do |f| %>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <%= f.submit "Reset Password and Log in" %>
<% end %>
