<% content_for :page_info do %>
 - User Details
<% end %>

<div>
  <% content_for :sidebar do%>
    <%= render :partial => 'urls/stacked_navigation' %>
  <% end %>

  <div class='page-header'>
    <h2> User Details </h2>
  </div>

  <%= render :partial => "users/user_details", :locals => { :user => @user } %>
</div>
