<% if has_attachment_error?(object, attribute).present?  %>
  <span class='help-inline form-inline-help'>
  	<%= attachment_errors(object, attribute).join('. ') %>
  </span>
<% end %>                            
