<footer>
	<p class='footer-content'> 
	  Firelist &copy; Idyllic Software 2012
	  |
	  <%= link_to "Home", lists_url %>
	  |
	  <%= link_to "About Us", about_us_url %>
    <!-- |
    <%#= link_to "Contact Us", contact_us_url %>
    |
    <%#= link_to "Terms of Service", terms_of_service_url %> -->
	</p>
</footer>
