<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "FireList", lists_url, :class => "brand" %>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="<%= active_nav_class('lists') %>"><%= link_to "List", lists_path %></li>
        </ul>

        <% if current_user.present? %>
          <ul class="nav">
            <li class="<%= active_nav_class('profile') %>"><%= link_to "Profile", user_path(current_user) %></li>
          </ul>  
          <ul class="nav">
            <li class="<%= active_nav_class('notifications') %>">
              <a href='<%= manage_members_url %>'> Notifications 
                <% if notifications_exist? %>
                  <span class="badge badge-success"><%= notification_size %></span>
                <% end %>                  
              </a>
            </li>
          </ul>  
          <ul class="nav">
            <li class="<%= active_nav_class('projects')%>">
              <a href='<%= projects_url %>'>Projects</a>
            </li>
          </ul>
          <% if current_user.is_admin? %>  
            <ul class="nav">
              <li class="<%= active_nav_class('admin') %>"><%= link_to "Admin", admin_path %></li>
            </ul>        
          <% end %>
        <% end %>  

        <p class="navbar-text pull-right">
          <% if current_user %>
            Logged in as <b><%= current_user.name %></b>
            |
            <a href="<%=logout_path%>" class='white-link'>Logout</a>
          <% else %>
            <%= link_to "Sign up", signup_path, :class => 'white-link'%>
            |
            <%= link_to "Login", login_path, :class => 'white-link'%>
          <% end %>
        </p>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
