<span> 
  <%= form_tag search_lists_url, :method => :get, :class => "well form-search" do %>
    <%= text_field_tag :search_query, nil, :placeholder => "Search Lists", :class => "input-medium search-query" %>
    <%= submit_tag "Search", :class => "btn"%>
  <% end %>  
</span>
