<% if flash[:notice].present? %>
	<div class='alert alert-success'>
		<%= flash[:notice] %>
	</div>
<% elsif flash[:error].present? %>
	<div class='alert alert-error'>
		<%= flash[:error] %>
	</div>
<% end %>