<span> 
  <%= form_tag search_list_urls_url(@list), :method => :get, :class => "well form-search" do %>
    <%= text_field_tag :search_query, nil, :placeholder => "Search Urls", :class => "input-medium search-query" %>
    <%= submit_tag "Search", :class => "btn"%>
  <% end %>  
</span>
