<%= render :partial => "shared/stacked_navigation_sidebar"%>

<div class='page-header'><h2>About Us</h2></div>

<div class='static-pages about-us'>
	<p> Firelist was born out of a need to make the search for useful documentation easier. It was made to collaboratively allow us to handle our documentation in an organized way. We believe that everything eventually boils down to lists, and searchable lists contribute to making documentation of useful links and blogs easier. Allowing team mates and colleagues to add to your lists makes the content richer and allows you to share your research material, thus making it easier to find stuff when you need it, quickly.
  </p>
  
  <p> We are constantly working towards improving our application and we'll appreciate any suggestions and recommendations </p>                                                                                                               
  <p> FireList Team </p>
</div>
