<tr class='each-project project-<%= project.id %>'>
	<td>
		<%= link_to "#{project.name}", project_url(project) %>
	</td>
	<td>
		<%= time_ago_in_words(project.updated_at) %>
	</td>
	<td>
		TBD
	</td>
	
	<td>
		<%= link_to "Edit", edit_project_url(project), class:'btn' %>
		<%= link_to "Delete", project_url(project), class:'btn btn-danger', method: :delete %>
	</td>
</tr>