
<div class="modal" id="project-form-modal" style="display:none">
	<%= form_for :project, url:projects_url, html:{class:'form-horizontal new-project-form'} do |f| %>
	 	<div class='modal-header'>
	  		<strong> Create a new project</strong>
	  	</div>
	 	<div class="modal-body">
	  		<div>  		
	  			<fieldset>
	  				<div class='control-group'>
	  					<label class='control-label' for="name">Project Name</label>
	  					<div class='controls'>
	  						<%= f.text_field :name, class:'input-xlarge' %>
	  					</div>
	  				</div>
	  			</fieldset>	  		
	  		</div>  	  	
	  	</div>
	  	<div class="modal-footer">
	    	<a href="#" class="btn pull-left">Close</a>
	    	<%= f.submit "Save changes", class:'btn btn-primary pull-left submit-btn' %>	    	
	  	</div>
  	<% end %>
</div>
