<% if projects.size > 0 %>
	<table class='table table-striped'>
		<thead>
			<tr>
				<td>
					Name
				</td>
				<td>
					Last Accessed At
				</td>
				<td>
					Members Count
				</td>
				<td>
					Action
				</td>
			</tr>
		</thead>
		<tbody>
			<% @projects.each do |project| %>
				<%= render partial: 'each_project', locals: {project: project } %>
			<% end %>
		</tbody>
	</table>
<% else %>
	<div class='alert alert-block'>
	 You have no projects at the moment
	</div>
<% end %>