<div class="block-header well">
	<h1> Projects 
		<small> Create a new project, brainstorm and prioritize </small>
		<div class='pull-right'>
			<%= link_to "Create a new project", "#myModal", class:'btn btn-primary create-new-project' %>
		</div>
	</h1>	
</div>

<%= render partial:'projects', locals: {projects: @projects} %>

<%= render partial: 'form', locals:{type: 'create'} %>



