// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


a.btn:visited{
  color:#FFF;
}     

.form-inline-help{
  width:200px;
  text-align:left;
}
#vote_value{
margin:0 5px;
font-size:14px;
}


