/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.user-profile-details, .member_preview{float: left; margin-left: 10px; width: 600px;}