<table class="table table-striped  table-bordered">
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Actions</th>
    </td>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
     
        <td><%= link_to user.name,admin_user_list_path(user) %></td>
        <td><%= user.email %></td>
        <td>
          <%#= link_to 'Destroy', admin_delete_user_path(user), :method => :delete, :confirm => 'Are you sure?', :class => 'btn  btn-danger' %>
          <% if user.active? %>
          <%= link_to 'Deactivate', admin_deactivate_user_path(user),  :confirm => 'Are you sure?', :class => 'btn  btn-danger' %>
          <% else %>
           <%= link_to 'Activate', admin_activate_user_path(user),  :confirm => 'Are you sure?', :class => 'btn  btn-danger' %>
          <% end %>
        </td>
      </tr>      
    <% end %>  

  </tbody>
</table>  
  <div class='pull-right margin-top-m18'>   
   
    <%= paginate @users %>

  </div>
