<div class='well div-center width500'>
  <h3>Forgot Password</h3>
  <p>
    <% if !flash[:notice].nil? %>
      <%= flash[:notice] %>
    <% else %>
      Please enter the email address you used to register.
    <% end %>
  </p>
  <%= form_for @user_session, :as => :user_session, :url => forgot_password_url do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <br />
    <%= f.submit "Send Password Reset Link", :class => "btn btn-primary" %>
  <% end %>
</div>
