<div class='well div-center width500'>
  <h3>Login</h3>
  <%= form_for @user_session, :as => :user_session, :url => { :action => "create" } do |f| %>
    <% if @user_session.errors.any? %>
      <div class='alert alert-error'>
        <%= flash[:error] %>
      </div>
    <% end %>
    <label class="control-label" for='user_session_email'>Email</label>
    <div class="controls">
      <%= f.text_field :email %>
    </div>
    <label class="control-label" for='user_session_password'>Password</label>
    <div class="controls">
      <%= f.password_field :password %>
    </div>
    <br/>
    <label class='checkbox'>
      <%= f.check_box :remember_me %> Remember me
    </label>
    <div>
      <%= f.submit "Login", :class => 'btn btn-primary' %> 
      <%= link_to "Sign up/Sign in with Twitter", "/auth/twitter", :class => 'btn btn-primary' %>
    </div>
  <% end %>
  <div><%= link_to "Forgot Password", forgot_password_path %></div>
</div>
