<!DOCTYPE html>
<html>
<head>
  <title>FireList <%= yield :page_info %></title>
   <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag "application", "custom_styles", :media => "all" %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    var uvOptions = {};
    (function() {
      var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
      uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/IW2p4VfNWjmAq6AzrKkIbg.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <% if Rails.env == "production" %>
    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31016571-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      </script>
  <% end %>
  <%= yield :head %>
</head>
</head>
<body>
 <!--- Nav Bar -->
 <%= render :partial => "shared/header" %>
 <!--- BODY -->
  <div class="container-fluid">
    <div class="row-fluid">
      <div class='block'>
        <%= render "shared/notifications" %>
        <%= yield %>      
      </div>
    </div><!--/row-->
   <hr>
   <%= render :partial => "shared/footer"%>
  </div><!--/.fluid-container-->     

</body>
</html>
