<tbody>
  <tr>
    <td class='members_preview_td'>
		  <div class="span1 thumbnail fl">
		    <% member_img = member.avatar.url.include?("missing.png") ? "/assets/default_user.png" : member.avatar.url(:thumb) %>
		    <%=h image_tag member_img %>
		  </div>
		  <div class='member_preview'>
	      <h3><%= link_to "#{member.name}", list_member_path(:list_id => list.id, :id => member.id) %></h3>
	      <p><em><%= member.email %></em></p>
	      <p><%= link_to "Lists(#{member.lists.size}) ", peek_user_lists_url(member) %></p>
	    </div>
    </td>    
  </tr>
</tbody>
