<% content_for :page_info do %>
 - List Members
<% end %>

<% content_for :sidebar do%>
  <%= render :partial => 'lists/members' %>
  <%= render :partial => 'urls/stacked_navigation' %>
<% end %>  

<div class='page-header'>
  <div class='pull-right'>
    <a class='btn btn-primary btn-medium custom-visted' href="<%= lists_path %>"> Back to Lists </a>
   </div>
  <h2> List Members </h2>
</div>

<%= render :partial => "members", :locals => { :members => @members, :list => @list } %>
<br />

<a class='btn btn-primary btn-medium custom-visted' href="<%= lists_path %>"> Back to Lists </a>
