<% content_for :page_info do %>
 - Manage Members
<% end %>

<%= render :partial => "shared/stacked_navigation_sidebar"%>

<div class='page-header'>
  <div class='pull-right'>
    <a class='btn btn-primary btn-medium custom-visted' href="<%= lists_path %>"> Back to Lists </a>
  </div>
  <h2> Member Requests </h2>
</div>

<table class="table table-striped">
  <thead>
  </thead>
  <tbody>              
    <% @requests.each do |request| %>
    <tr>
      <td class='span3'>    
        <p> <%= image_tag(request.user.avatar(:thumb), :size => '100x100') %> </p>
        <p> <%= request.user.name %></p>
      </td>
      <td class='span6'>                                         
        <p> <%= "Wishes to join #{request.list.title}" %>
      </td>
      <td class='span3'>
        <%= link_to "Accept", list_members_url(request.list, :id => request.user.id), :method => :post, :class => "btn btn-primary btn-medium" %> &nbsp; <%= link_to "Reject", reject_list_member_url(request.list, request.user), {:method => :delete, :class => "btn" } %>
      </td>
      </tr>
      <% end %>
    </tbody>
  </table>
