<% content_for :page_info do %>
 - List Member Details
<% end %>

<div>
  <% content_for :sidebar do%>
    <%= render :partial => 'lists/members' %>
    <%= render :partial => 'urls/stacked_navigation' %>
  <% end %>

	<div class='page-header'>
	  <div class='pull-right'>
	    <a class='btn btn-primary btn-medium custom-visted' href="<%= list_members_path(@list.id) %>"> Back to Members List </a>
	   </div>
	  <h2> Member Details </h2>
	</div>

  <%= render :partial => "users/user_details", :locals => { :user => @member } %>
</div>
